---
import Layout from "../layouts/Bootstrap.astro";
import Header from "../components/Header.astro";
---

<Layout title="Code by Shelby - Skillset">
    <Header subheader="Skillset" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 p-4 tech">
                <h5>Technologies</h5>
                <p>
                    <ul>
                        <li>Javascript</li>
                        <li>HTML</li>
                        <li>S/CSS</li>
                        <li>Astro</li>
                        <li>React.js/React</li>
                        <li>Bootstrap</li>
                        <li>jQuery</li>
                        <li>NodeJS</li>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                        <li>Handlebars</li>
                        <li>Git Command/Github</li>
                        <li>PHP</li>
                        <li>Wordpress</li>
                        <li>Express</li>
                        <li>API</li>
                        <li>Heroku</li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-4 p-4">
                <h5>Imaging</h5>
                <ul>
                    <li>Canva</li>
                    <li>Adobe</li>
                    <li>Figma</li>
                    <li>Krita</li>
                    <li>Vector Graphics</li>
                </ul>
            </div>
            <div class="col-sm-4 p-4">
                <h5>Other</h5>
                <ul>
                    <li>Search Engine Optimization</li>
                    <li>Digital Marketing</li>
                    <li>Email Marketing</li>
                    <li>Social Media Marketing</li>
                    <li>Marketing Analytics</li>
                    <li>Ad Campaigns</li>
                </ul>
            </div>
            <div class="col-lg-12 p-4">
                <h4>Certifications</h4>
                <h5>Full-Stack Web Development Certificate</h5>
                <p>University of North Carolina - Charlotte</p>
                <p><h5>Google Digital Marketing & E-Commerce</h5></p>
            </div>
            <div class="col-lg-12 p4">
                <h4>Resume</h4>
            </div>
        </div>
    </div>
</Layout>

<style>
    body {
        letter-spacing: 2px;
        margin: 0;
        width: 100%;
        overflow:hidden;
    }

    .row {
        height: 100vh;
        overflow: scroll;
        padding-bottom: 30%;
        margin:0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .row::-webkit-scrollbar {
        opacity: 100%;
    }

    .row::-webkit-scrollbar-track {
        opacity: 100%;
    }

    .row::-webkit-scrollbar-thumb {
        background: rgb(237, 182, 182);
        border-radius: 10px;
        width: 3px;
    }
    
</style>
