---
interface Props {
    subheader: string;
}

const { subheader } = Astro.props;
---

<div class="row pageheader">
    <h1>
        Code by Shelby
    </h1>
</div>
<div class="row pagesubheader">
    <h2>
        {subheader}
    </h2>
</div>

<style>
    .pageheader {
        margin-top: 3%;
        margin-bottom: 1%;
        font-family: "Syncopate", sans-serif;
        letter-spacing: 20px;
    }

    .pagesubheader{
        font-family: "Syncopate", sans-serif;
        letter-spacing: 20px;
        margin-bottom: 2%;
    }
</style>